.affix { top: 10px; width: 110px; }
.jumbotron { background: #FFA800; padding-top: 40px; }
.jumbotron .container { position: relative; z-index: 2; }
.subhead { text-align: left; 1px solid #FFA800; }
.subhead h1 { font-size: 60px; padding-bottom: 10px; }
.subhead p { margin-bottom: 20px; padding-left: 3px; }
html, body { height: 100%; }
#wrap { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto; }
#push, #footer { height: 80px;}
#footer { background-color: #f5f5f5; }
.credit { text-align: center; }
